* {
    /* outline: 2px solid red; */
}

body {
    background-color: black;

    color: white;
    font-family: Arial, Helvetica, sans-serif;

    max-width: 50%;
    margin: auto;
}

blockquote {
    border-left: 4px solid white;
    padding-left: 8px;
}

a {
    color: white;
}

.key-word {
    color:pink;
    font-weight: 700;
}